#app{
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
}

main{
    padding: 4rem;
    overflow: auto;

    & .main-container{
        max-width: 33rem;
        margin-left: auto;

        & .back{
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        & h1{
            font: var(--h1);
            margin-block: 1.5rem 0.5rem;
        }
    }
}

aside{
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .aside-container{
        max-width: 31rem;

        & h2{
            font: var(--h2);
            margin-block: 0.5rem;

            & span{
                color: var(--text-highlight);
            }
        }

        & > img{
            margin-block: 2rem;
        }
    }
}