.dropzone{
    border: 0.125rem dashed transparent;
    outline: 1px dashed var(--stroke-default);
    border-radius: 0.5rem;
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1.75rem 1rem;
    position: relative;

    & input{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
    }

    &:hover, &:has(input:focus){
        outline: 0;
        border-color: var(--stroke-highlight);
        background-color: var(--surface-secondary);

        & svg path{
            stroke: var(--stroke-highlight);
        }
    }
}