@import url(dropzone.css);

input, select, textarea{
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    border: 1px solid var(--stroke-default);
    font: var(--text);
    color: var(--text-primary);
    background-color: var(--surface-primary);
}

label{
    font: var(--text-sm);
    display: block;
    margin-bottom: 0.25rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within{
    outline: 0.25rem solid var(--surface-secondary);
    border: 0.125rem solid var(--stroke-highlight);
    outline-offset: 0.1px;
}

input[type="date"]{
    position: relative;
    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }

    &::before{
        position: absolute;
        content: "";
        background: url(../../assets/icon/calendar-03.svg);
        right: 1rem; 
        top: 50%;
        transform: translateY(-50%);
        width: 1.375rem;
        height: 1.375rem;
    }
}

select{
    background: url(../../assets/icon/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}

.address .flex{
    gap: 1.25rem;
}

.input-wrapper:has([disabled]){
    opacity: 0.5;
}

input{
    &[disabled]{
        background-color: var(--surface-disabled);
    }
    & input:invalid{
        border: 0.125rem solid var(--semantic-error);
    }
    & + small{
        display: inline-block;
        margin-top: 0.25rem;
    }
    &[required] + .error{
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--semantic-error);
        margin-top: 0.25rem;
        font: var(--text-sm);
    }
    &:valid + .error{
        opacity: 0;
    }
}