label + .radio-wrapper{
    margin-top: 1rem;
}

.radio-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    gap: 1rem;
}

.radio-inner{
    position: relative;
    display: grid;
    justify-items: center;
    gap: 0.5rem;
    border-width: 0.125rem;
    outline: 1px solid var(--stroke-default);
    border-radius: 0.5rem;
    padding: 2rem 1rem 1rem;

    & input{
        position: absolute;
        opacity: 0;
        inset: 0;
        border: 5px solid red;
    }

    .radio-image{
        position: absolute;
        background-image: url(../../assets/icon/circle-default.svg);
        width: 1.5rem;
        height: 1.5rem;
        top: .5rem;
        left: .5rem;
    }

    &:hover, &:focus-within{
        outline: 1px solid var(--stroke-highlight);

        & .radio-image{
            background-image: url(../../assets/icon/circle-hover.svg);
        }
    }

    &:has(:checked){
        outline: 0.125rem solid var(--stroke-highlight);

        & .radio-image{
            background-image: url(../../assets/icon/circle-select.svg);
        }
    }
}